* {
    background-color: bisque;
}
.font-style {
    font-style: italic;
    text-align: center;
}

span {
    font-size: 30px;
}

.fontsize {
    font-size: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.frame {
    margin: 40px 0px;
    border: 4px rgb(110, 66, 9) solid;
    padding: 50px 40 px;
}

.center-text {
    text-align: center;
    font-size: 18px;
}